-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: reses
-- ------------------------------------------------------
-- Server version	8.0.12

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `dewans`
--

DROP TABLE IF EXISTS `dewans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `dewans` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nama` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `komisi` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `pimpinan_dprd` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `id_fraksi` bigint(20) unsigned DEFAULT NULL,
  `id_kecamatan` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `dewans_id_fraksi_foreign` (`id_fraksi`),
  KEY `dewans_id_kecamatan_foreign` (`id_kecamatan`),
  CONSTRAINT `dewans_id_fraksi_foreign` FOREIGN KEY (`id_fraksi`) REFERENCES `fraksis` (`id`) ON DELETE SET NULL,
  CONSTRAINT `dewans_id_kecamatan_foreign` FOREIGN KEY (`id_kecamatan`) REFERENCES `kecamatans` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dewans`
--

LOCK TABLES `dewans` WRITE;
/*!40000 ALTER TABLE `dewans` DISABLE KEYS */;
/*!40000 ALTER TABLE `dewans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `failed_jobs`
--

DROP TABLE IF EXISTS `failed_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `failed_jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `connection` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `queue` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `payload` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `exception` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `failed_jobs`
--

LOCK TABLES `failed_jobs` WRITE;
/*!40000 ALTER TABLE `failed_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `failed_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fraksis`
--

DROP TABLE IF EXISTS `fraksis`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `fraksis` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nama_fraksi` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fraksis`
--

LOCK TABLES `fraksis` WRITE;
/*!40000 ALTER TABLE `fraksis` DISABLE KEYS */;
INSERT INTO `fraksis` VALUES (1,'Fraksi PDI-P',NULL,NULL),(2,'Fraksi Gerindra',NULL,NULL),(3,'Fraksi PKS',NULL,NULL),(4,'Fraksi Golkar',NULL,NULL);
/*!40000 ALTER TABLE `fraksis` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kecamatans`
--

DROP TABLE IF EXISTS `kecamatans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kecamatans` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nama_kecamatan` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kecamatans`
--

LOCK TABLES `kecamatans` WRITE;
/*!40000 ALTER TABLE `kecamatans` DISABLE KEYS */;
INSERT INTO `kecamatans` VALUES (1,'Cilincing','2026-07-02 01:09:45','2026-07-02 01:09:45'),(2,'Kelapa Gading','2026-07-02 01:09:45','2026-07-02 01:09:45'),(3,'Koja','2026-07-02 01:09:45','2026-07-02 01:09:45'),(4,'Pademangan','2026-07-02 01:24:52','2026-07-02 01:24:52'),(5,'Penjaringan','2026-07-02 01:24:52','2026-07-02 01:24:52'),(6,'Tanjung Priok','2026-07-02 01:24:52','2026-07-02 01:24:52');
/*!40000 ALTER TABLE `kecamatans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kelurahans`
--

DROP TABLE IF EXISTS `kelurahans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kelurahans` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_kecamatan` bigint(20) unsigned NOT NULL,
  `nama_kelurahan` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `kelurahans_id_kecamatan_foreign` (`id_kecamatan`),
  CONSTRAINT `kelurahans_id_kecamatan_foreign` FOREIGN KEY (`id_kecamatan`) REFERENCES `kecamatans` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kelurahans`
--

LOCK TABLES `kelurahans` WRITE;
/*!40000 ALTER TABLE `kelurahans` DISABLE KEYS */;
/*!40000 ALTER TABLE `kelurahans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `migrations` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `batch` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=30 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `password_reset_tokens` (
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `token` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pekerjaan_sdas`
--

DROP TABLE IF EXISTS `pekerjaan_sdas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pekerjaan_sdas` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_survei_reses` bigint(20) unsigned DEFAULT NULL,
  `no_skpd` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tahun_monev` int(11) DEFAULT NULL,
  `sumber_data` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tgl_input` date DEFAULT NULL,
  `rincian_sumber_data` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `kode_tracking` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `id_dewan` bigint(20) unsigned DEFAULT NULL,
  `id_kecamatan` bigint(20) unsigned DEFAULT NULL,
  `id_kelurahan` bigint(20) unsigned DEFAULT NULL,
  `rt` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `rw` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `alamat` text COLLATE utf8mb4_unicode_ci,
  `deskripsi` text COLLATE utf8mb4_unicode_ci,
  `lingkup_kewenangan` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `kategori_pekerjaan` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `kategori_prioritas` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status_tindak_lanjut` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tgl_survei` date DEFAULT NULL,
  `volume_panjang` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tahun_dikerjakan` int(11) DEFAULT NULL,
  `metode_pekerjaan` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `checklist_perencanaan` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `estimasi_tgl_realisasi` date DEFAULT NULL,
  `tgl_mulai` date DEFAULT NULL,
  `tgl_selesai` date DEFAULT NULL,
  `progress` int(11) NOT NULL DEFAULT '0',
  `photo` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `latitude` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `longitude` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `id_pelaksana` bigint(20) unsigned DEFAULT NULL,
  `id_vendor` bigint(20) unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `pekerjaan_sdas_kode_tracking_unique` (`kode_tracking`),
  KEY `pekerjaan_sdas_id_dewan_foreign` (`id_dewan`),
  KEY `pekerjaan_sdas_id_kelurahan_foreign` (`id_kelurahan`),
  KEY `pekerjaan_sdas_id_survei_reses_foreign` (`id_survei_reses`),
  KEY `pekerjaan_sdas_id_kecamatan_foreign` (`id_kecamatan`),
  KEY `pekerjaan_sdas_id_pelaksana_foreign` (`id_pelaksana`),
  KEY `pekerjaan_sdas_id_vendor_foreign` (`id_vendor`),
  CONSTRAINT `pekerjaan_sdas_id_dewan_foreign` FOREIGN KEY (`id_dewan`) REFERENCES `dewans` (`id`) ON DELETE SET NULL,
  CONSTRAINT `pekerjaan_sdas_id_kecamatan_foreign` FOREIGN KEY (`id_kecamatan`) REFERENCES `kecamatans` (`id`) ON DELETE SET NULL,
  CONSTRAINT `pekerjaan_sdas_id_kelurahan_foreign` FOREIGN KEY (`id_kelurahan`) REFERENCES `kelurahans` (`id`) ON DELETE SET NULL,
  CONSTRAINT `pekerjaan_sdas_id_pelaksana_foreign` FOREIGN KEY (`id_pelaksana`) REFERENCES `pelaksanas` (`id`) ON DELETE SET NULL,
  CONSTRAINT `pekerjaan_sdas_id_survei_reses_foreign` FOREIGN KEY (`id_survei_reses`) REFERENCES `survei_reses` (`id`) ON DELETE SET NULL,
  CONSTRAINT `pekerjaan_sdas_id_vendor_foreign` FOREIGN KEY (`id_vendor`) REFERENCES `vendors` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=613 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pekerjaan_sdas`
--

LOCK TABLES `pekerjaan_sdas` WRITE;
/*!40000 ALTER TABLE `pekerjaan_sdas` DISABLE KEYS */;
/*!40000 ALTER TABLE `pekerjaan_sdas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pelaksanas`
--

DROP TABLE IF EXISTS `pelaksanas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pelaksanas` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nama` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nip` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `jabatan` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pelaksanas`
--

LOCK TABLES `pelaksanas` WRITE;
/*!40000 ALTER TABLE `pelaksanas` DISABLE KEYS */;
INSERT INTO `pelaksanas` VALUES (1,'Slamet Riyanto','197410022009041003','Ketua Satuan Pelaksana SDA Kecamatan Koja','2026-07-11 20:54:42','2026-07-11 20:54:42'),(2,'SUDIN JAKARTA UTARA',NULL,NULL,'2026-08-05 18:41:08','2026-08-05 18:41:08');
/*!40000 ALTER TABLE `pelaksanas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personal_access_tokens`
--

DROP TABLE IF EXISTS `personal_access_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `personal_access_tokens` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `tokenable_type` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tokenable_id` bigint(20) unsigned NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `token` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `abilities` text COLLATE utf8mb4_unicode_ci,
  `last_used_at` timestamp NULL DEFAULT NULL,
  `expires_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `personal_access_tokens_token_unique` (`token`),
  KEY `personal_access_tokens_tokenable_type_tokenable_id_index` (`tokenable_type`,`tokenable_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personal_access_tokens`
--

LOCK TABLES `personal_access_tokens` WRITE;
/*!40000 ALTER TABLE `personal_access_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `personal_access_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `surat_permohonans`
--

DROP TABLE IF EXISTS `surat_permohonans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `surat_permohonans` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_pekerjaan_sda` bigint(20) unsigned DEFAULT NULL,
  `tanggal` date DEFAULT NULL,
  `nomor_surat` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `dari` text COLLATE utf8mb4_unicode_ci,
  `id_kelurahan` bigint(20) unsigned DEFAULT NULL,
  `id_kecamatan` bigint(20) unsigned DEFAULT NULL,
  `lokasi` text COLLATE utf8mb4_unicode_ci,
  `latitude` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `longitude` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `detail_pemohon` text COLLATE utf8mb4_unicode_ci,
  `deskripsi` text COLLATE utf8mb4_unicode_ci,
  `hasil_survei` text COLLATE utf8mb4_unicode_ci,
  `photo` text COLLATE utf8mb4_unicode_ci,
  `status` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Diterima',
  `catatan` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `surat_permohonans_id_kelurahan_foreign` (`id_kelurahan`),
  KEY `surat_permohonans_id_pekerjaan_sda_foreign` (`id_pekerjaan_sda`),
  KEY `surat_permohonans_id_kecamatan_foreign` (`id_kecamatan`),
  CONSTRAINT `surat_permohonans_id_kecamatan_foreign` FOREIGN KEY (`id_kecamatan`) REFERENCES `kecamatans` (`id`) ON DELETE SET NULL,
  CONSTRAINT `surat_permohonans_id_kelurahan_foreign` FOREIGN KEY (`id_kelurahan`) REFERENCES `kelurahans` (`id`) ON DELETE SET NULL,
  CONSTRAINT `surat_permohonans_id_pekerjaan_sda_foreign` FOREIGN KEY (`id_pekerjaan_sda`) REFERENCES `pekerjaan_sdas` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=243 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `surat_permohonans`
--

LOCK TABLES `surat_permohonans` WRITE;
/*!40000 ALTER TABLE `surat_permohonans` DISABLE KEYS */;
/*!40000 ALTER TABLE `surat_permohonans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `survei_reses`
--

DROP TABLE IF EXISTS `survei_reses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `survei_reses` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `no_reses` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `id_dewan` bigint(20) unsigned NOT NULL,
  `id_kecamatan` bigint(20) unsigned NOT NULL,
  `id_kelurahan` bigint(20) unsigned DEFAULT NULL,
  `alamat` text COLLATE utf8mb4_unicode_ci,
  `keluhan` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `permintaan` text COLLATE utf8mb4_unicode_ci,
  `keterangan` text COLLATE utf8mb4_unicode_ci,
  `foto` text COLLATE utf8mb4_unicode_ci,
  `lebar` decimal(10,2) DEFAULT NULL,
  `tinggi` decimal(10,2) DEFAULT NULL,
  `panjang` decimal(10,2) DEFAULT NULL,
  `volume` decimal(10,2) DEFAULT NULL,
  `estimasi_biaya` bigint(20) DEFAULT NULL,
  `tanggal_reses` date NOT NULL,
  `status` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Baru',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `survei_reses_id_dewan_foreign` (`id_dewan`),
  KEY `survei_reses_id_kecamatan_foreign` (`id_kecamatan`),
  KEY `survei_reses_id_kelurahan_foreign` (`id_kelurahan`),
  CONSTRAINT `survei_reses_id_dewan_foreign` FOREIGN KEY (`id_dewan`) REFERENCES `dewans` (`id`) ON DELETE CASCADE,
  CONSTRAINT `survei_reses_id_kecamatan_foreign` FOREIGN KEY (`id_kecamatan`) REFERENCES `kecamatans` (`id`) ON DELETE CASCADE,
  CONSTRAINT `survei_reses_id_kelurahan_foreign` FOREIGN KEY (`id_kelurahan`) REFERENCES `kelurahans` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=544 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `survei_reses`
--

LOCK TABLES `survei_reses` WRITE;
/*!40000 ALTER TABLE `survei_reses` DISABLE KEYS */;
/*!40000 ALTER TABLE `survei_reses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `role` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'admin',
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `password` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `remember_token` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_email_unique` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vendors`
--

DROP TABLE IF EXISTS `vendors`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `vendors` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nama` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `jabatan` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vendors`
--

LOCK TABLES `vendors` WRITE;
/*!40000 ALTER TABLE `vendors` DISABLE KEYS */;
INSERT INTO `vendors` VALUES (1,'CV. Riaprima Putri Ambar','Donal Martino Hutabarat','2026-07-11 21:30:24','2026-07-11 21:30:24');
/*!40000 ALTER TABLE `vendors` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-06 21:42:13
